<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wrlhblog.mapper.LableMapper">

    <resultMap id="baseMap" type="com.wrlhblog.model.Lable">

        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="name_style_color" property="nameStyleColor"/>
        <result column="descripation" property="descripation"/>
        <result column="add_username" property="addUsername"/>
        <result column="add_time" property="addTime"/>
    </resultMap>


    <select id="getLables" resultMap="baseMap">
        select
        *
        from lable
        where uid = #{id}
        <if test="solSearchCondition != null ">
            <if test="solSearchCondition.lableName != null  and solSearchCondition.lableName != ''">
                and name like concat ('%',#{solSearchCondition.lableName},'%')
            </if>

            <if test="solSearchCondition.startTime != null and solSearchCondition.startTime != ''">
                and add_time &gt;= #{solSearchCondition.startTime}

            </if>

            <if test="solSearchCondition.endTime != null and solSearchCondition.endTime != ''">
                and add_time &lt;= #{solSearchCondition.endTime}
            </if>
        </if>
    </select>
    <select id="getLableByName" resultType="com.wrlhblog.model.Lable">

        select * from lable where name = #{name}
    </select>
</mapper>
