<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wrlhblog.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.wrlhblog.model.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component_dir" property="componentDir" jdbcType="VARCHAR"/>
        <result column="component" property="component" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="icon_cls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="parent_is" property="parentIs" jdbcType="BIT"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <association property="meta" javaType="com.wrlhblog.model.Meta">
            <result column="require_auth" property="requireAuth" jdbcType="BIT"/>
        </association>
    </resultMap>
    <resultMap id="MenuBaseResultMap" type="com.wrlhblog.model.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.wrlhblog.model.Menu" javaType="ArrayList">
            <id column="id2" property="id" jdbcType="INTEGER"/>
            <result column="url2" property="url" jdbcType="VARCHAR"/>
            <result column="path2" property="path" jdbcType="VARCHAR"/>
            <result column="component_dir2" property="componentDir" jdbcType="VARCHAR"/>
            <result column="component2" property="component" jdbcType="VARCHAR"/>
            <result column="name2" property="name" jdbcType="VARCHAR"/>
            <result column="icon_cls2" property="iconCls" jdbcType="VARCHAR"/>
            <result column="parent_is2" property="parentIs" jdbcType="BIT"/>
            <result column="parent_id2" property="parentId" jdbcType="INTEGER"/>
            <result column="enabled2" property="enabled" jdbcType="BIT"/>
            <association property="meta" javaType="com.wrlhblog.model.Meta">
                <result column="require_auth2" property="requireAuth" jdbcType="BIT"/>
            </association>
        </collection>
    </resultMap>


    <select id="getMenuByUserId" resultMap="MenuBaseResultMap">

         SELECT
            m1.*,
            m2.id id2,
            m2.url url2,
            m2.path path2,
            m2.component_dir component_dir2,
            m2.component component2,
            m2.NAME name2,
            m2.icon_cls icon_cls2,
            m2. parent_is  parent_is2,
            m2.require_auth require_auth2,
            m2.parent_id parent_id2,
            m2.enabled enabled2
        FROM
            menu m1
            LEFT JOIN menu m2 ON m2.parent_id = m1.id
            LEFT JOIN role_menu rm ON m2.id = rm.mid
            LEFT JOIN role r ON rm.rid = r.id
            LEFT JOIN user_role ur ON ur.rid = rm.rid
        WHERE
            ur.id = #{id}
        ORDER BY
            m1.id,
            m2.id


    </select>


</mapper>
