<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wrlhblog.mapper.SortMapper">

    <resultMap id="baseMap" type="com.wrlhblog.model.Sort">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="name" property="name"/>
        <result column="name_style_color" property="nameStyleColor"/>
        <result column="descripation" property="descripation"/>
        <result column="add_username" property="addUsername"/>
        <result column="add_time" property="addTime"/>

    </resultMap>

    <select id="getSorts" resultMap="baseMap">
        select
        *
        from sort
        where uid = #{id}
        <if test="solSearchCondition != null ">
            <if test="solSearchCondition.sortName != null  and solSearchCondition.sortName != ''">
                and name like concat ('%',#{solSearchCondition.sortName},'%')
            </if>

            <if test="solSearchCondition.startTime != null and solSearchCondition.startTime != ''">
                and add_time &gt;= #{solSearchCondition.startTime}

            </if>

            <if test="solSearchCondition.endTime != null and solSearchCondition.endTime != ''">
                and add_time &lt;= #{solSearchCondition.endTime}
            </if>
        </if>
    </select>

    <select id="getSortByname" resultMap="baseMap">
        select * from sort where name = #{name} limit 1
    </select>

</mapper>
